# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
venv/
.env
.venv
env/
ENV/

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
static/
local_settings.py
*.env
.env.*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Coverage/testing
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Project specific
node_modules/
/staticfiles/
.sass-cache/

# Database backups
*.sql
*.sqlite3-*

# Celery
celerybeat-schedule
celerybeat.pid

# Translations
*.mo

# Temporary files
*.bak
*.tmp